body {
    padding: 3rem 0;
}

.result {
    height: 22px;
}

canvas {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

li {
    padding: 10px;
    background: rgba(128, 128, 128, 0.1);
    color: #c71b4a;
}

li:hover {
    background: rgba(128, 128, 128, 0.15);
}
